/Herencia/nbproject/private/
/Herencia/build/
/Herencia/dist/
/JavaApplication86/nbproject/private/
/JavaApplication87/nbproject/private/
/Ejercicio Poligono/nbproject/private/
/Ejercicio Poligono/build/
/Ejercicio 10/nbproject/private/